.nav {
  grid-area: n;
  /* Created with https://www.css-gradient.com */
  background: #f7c896;
  background: -webkit-linear-gradient(top, #f7c896, #c7f7f3);
  background: -moz-linear-gradient(top, #f7c896, #c7f7f3);
  background: linear-gradient(to bottom, #f7c896, #c7f7f3);
  padding: 10px;
  border-top-right-radius: 5px;
}

.item {
  font-size: 25px;
  color: rgb(27, 57, 58);
}
