.wallpaper img {
  text-align: center;
  box-sizing: border-box;
  height: 300px;
  width: 100%;
  border-radius: 15px;
}

.descriptionBlock {
  padding: 20px;
  font-size: 20px;
  background-color: rgb(146, 207, 209);
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar {
  border-radius: 15px;
}

.status {
  font-style: italic;
  font-weight: 500;
}

.contacts {
  margin-top: 15px;
}
