.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.app-wrapper-content {
  padding: 10px;
  grid-area: c;
  height: 100%;
  /* Created with https://www.css-gradient.com */
  background: #f7c896;
  background: -webkit-linear-gradient(top, #f7c896, #c7f7f3);
  background: -moz-linear-gradient(top, #f7c896, #c7f7f3);
  background: linear-gradient(to bottom, #f7c896, #c7f7f3);
  border-top-left-radius: 5px;
}
